.added-courses{
    margin-top: 2rem;
  }

.calendar{
    width: 100%; /* or you can use a fixed width if you prefer */
    max-width: 800px; /* limit maximum width */
    height: 100vh; /* control height: 100% of the screen height */
    margin-left: 250px; /* center it horizontally */
    background-color: #fff;
    padding: 0px, 0px, 0px, 40px;
    box-sizing: border-box;
    overflow:hidden;
    display: flexbox;
    left: auto;
    z-index: 0;
    
}

.calendar-container {
    display: flex;
}

.sidebar {
    width: 200px;
    padding: 10px;
    background-color: #2792e4;
    border-right: 1px solid #ddd;
}

.fc-event {
    margin: 10px 0;
    padding: 5px;
    background-color: #1e3e60;
    color: white;
    cursor: pointer;
}
.fc-event:hover {
    background-color: #3673ce;
}
.fc-event:active {
    background-color: #62ae88;
    transform: scale(0.95);
    transition: transform 0.1s ease-in-out;
}
.fc-event-title {
    white-space: pre-wrap;
  }
  
  /* Make events fill the full cell */
.fc-event {
    margin: 0 !important;
    border-radius: 0 !important;
    padding: 2px 4px !important;
    border: solid #212529;
  }
  
  /* Optional: remove extra space inside the event */
  .fc-event-main {
    padding: 0 !important;
  }
  /*TRASH CAN*/
  .delete-zone{
    margin-top: 0rem;
    padding: 1rem;
    width: 100px;
    margin-left: auto;
    margin-right: 3%;
    border-radius: 50%;
    text-align: center;
    transition: transform 0.3s, background-color 0.3s;
}
.delete-zone.hovered {
  color: rgb(204, 4, 4);
  transform: scale(1.1);      /* Slight zoom */
  cursor: grab;
}
  
  
