.calendar{
    width: 100%; /* or you can use a fixed width if you prefer */
    max-width: 1200px; /* limit maximum width */
    height: 100vh; /* control height: 100% of the screen height */
    margin-left: 250px; /* center it horizontally */
    background-color: #fff;
    padding: 0px, 0px, 0px, 40px;
    box-sizing: border-box;
    overflow:hidden;
    display: flexbox;
    left: auto;
    z-index: 0;
    
}

.calendar-container {
    display: flex;
}

.sidebar {
    width: 200px;
    padding: 10px;
    background-color: #2792e4;
    border-right: 1px solid #ddd;
}

.fc-event {
    margin: 10px 0;
    padding: 5px;
    background-color: #131d28;
    color: white;
    cursor: pointer;
}
.fc-event:hover {
    background-color: #1a2b3c;
}
.fc-event:active {
    background-color: #1a2b3c;
    transform: scale(0.95);
    transition: transform 0.1s ease-in-out;
}
.fc-event-title {
    white-space: pre-wrap;
  }
  
